<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>

	<log4net>
		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file value="log.txt"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<maximumFileSize value="100KB"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>
		
		<root>
			<level value="ERROR"/>
			<appender-ref ref="LogFile"/>
		</root>
		
	</log4net>

	<connectionStrings>
		<add name="local" connectionString="Database=usersettings;Data Source=localhost;User Id=root;Password=;Connect Timeout=300;pooling=false;convert zero datetime=yes;"/>
		<add name="integration" connectionString="Data Source=testsql.analit.net;Database=usersettings;User ID=system;Password=newpass;Connect Timeout=1500;pooling=true;convert zero datetime=yes;Default command timeout=1500;Allow User Variables=true;"/>
	</connectionStrings>

</configuration>
